* {
    text-decoration: none;
    box-sizing: border-box;
  }
  body {
    padding-top: 44px;
    font-family: "Roboto", sans-serif;
  }
  
  .container {
    max-width: 1200px;
    margin: auto;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    margin-bottom: 40px;
  }
  .search-input {
    background: #ffffff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 2px;
    height: 40px;
    flex: 0.8;
    font-size: 16px;
    line-height: 24px;
    background-repeat: no-repeat;
    background-image: url(../img/search.svg);
    background-position: left 11px center;
    padding-left: 35px;
  }
  .buttons {
    display: flex;
    align-items: center;
  }
  .button {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    background: #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
    border-radius: 2px;
    color: #595959;
    font-size: 16px;
    line-height: 24px;
  }
  .button-primary {
    background: #1890ff;
    border: 1px solid #1890ff;
    color: #fff;
    margin-right: 10px;
  }
  .button-primary1 {
    display: flex;
    align-items: center;
    border: 1px solid #1890ff;
  }
  .user {
    margin-right: 6px;
    vertical-align: middle;
  }
  .button-text {
    vertical-align: middle;
  }
  .logo {
      animation: rotead 2s infinite ease-in-out;
    height: 70px;
    width: 50px;
  }
  @keyframes rotead {
      0%
      {
  transform: perspective(800px) rotateY(0deg);
      }
     100% {
  transform: perspective(800px) rotateY(-360deg);
     }
  }
  .bucket {
    margin-right: 6px;
    vertical-align: middle;
  }
  .promo {
    box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
    background: #fff1b8 url("../img/icon.png") no-repeat top right;
    background-size: contain;
    border-radius: 10px;
    background-position: fixed;
    padding: 68px 70px;
    margin-bottom: 56px;
  }
  .category,
  .price {
    font-size: 14px;
  }
  .promo-text {
    max-width: 538;
  }
  .promo-title {
    font-style: normal;
    font-weight: bold;
    font-size: 39px;
    line-height: 46px;
    color: #302c34;
  }
  .section-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 44px;
  }
  .section-title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin: 0;
  }
  .card {
    background: #ffffff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 30px;
    flex-basis: 31%;
  }
  .cards {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .card-image {
    height: 250px;
    width: 384px;
    object-fit: cover;
    border-radius: 10px;
  }
  .card-text {
    padding-top: 20px;
    padding-bottom: 35px;
    padding-left: 23px;
    padding-right: 23px;
  }
  .card-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .card-title {
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
  }
  .card-tag {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
    background: #262626;
    border-radius: 2px;
    padding: 1px 8px;
  }
  .card-info {
    display: flex;
    align-items: center;
  }
  .rating {
    margin-right: 26px;
    color: #ffc107;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
  }
  .price,
  .category {
    color: #8c8c8c;
    font-size: 18px;
    line-height: 32px;
  }
  .price {
    margin-right: 10px;
  }
  .price::after {
    content: "";
    width: 5px;
    height: 5px;
    background-color: #8c8c8c;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    margin-left: 10px;
  }
  .star {
    margin-right: 5px;
  }
  .main {
    background: linear-gradient(
      180deg,
      rgba(245, 245, 245, 0) 1.04%,
      #f5f5f5 100%
    );
  }
  .footer-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer-nav {
    margin-right: auto;
    margin-left: 35px;
  }
  .footer {
    padding: 60px 0;
  }
  .footer-link {
    display: inline-block;
    color: #595959;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
  }
  .footer-link:not(:last-child) {
    margin-right: 15px;
  }
  .social-links {
    display: flex;
    align-items: center;
  }
  .social-links:not(:last-child) {
    margin-right: 21px;
  }
  .modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: none;
  }
  .is-open {
    display: flex;
  }
  .modal-dialog {
    max-width: 780px;
    width: 95%;
    background: white;
    border-radius: 5px;
    margin: auto;
    padding: 40px 45px;
  }
  .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
  }
  .row {
    padding-bottom: 8px;
    border-bottom: 1px solid #d9d9d9;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  .name {
    font-weight: normal;
    font-style: 18px;
    line-height: 32px;
  }
  .price1 {
    margin-left: auto;
    margin-right: 47px;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
  }
  .counter {
    display: flex;
    align-items: center;
  }
  .counter1 {
    font-size: 16px;
    line-height: 24px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .counter-button {
    width: 39px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border: 1px solid #40a9ff;
    box-sizing: border-box;
    border-radius: 2px;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #40a9ff;
  }
  .remove {
    cursor: pointer;
    background: #262626;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    line-height: 23px;
    display: flex;
  }
  .close {
    cursor: pointer;
    font-size: 36px;
    border: none;
    background-color: transparent;
  }
  
  .modal-title {
    margin: 0;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
  }
  .modal-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .price-tag {
    background: #262626;
    border-radius: 5px;
    color: white;
    padding: 15px 20px;
    font-size: 20px;
    line-height: 23px;
  }
  .footer-buttons {
    display: flex;
    align-items: center;
  }
  .modal-body {
    margin-bottom: 52px;
  }
  @media (max-width: 1366px) {
    .container {
      max-width: 960px;
    }
  }
  @media (max-width: 992px) {
    .container {
      max-width: 750px;
    }
    .promo {
      padding: 50px;
      background-size: 500px;
      background-position: center right -200px;
    }
    .promo-text {
      font-size: 18px;
      max-width: 400px;
    }
    .card {
      flex-basis: 49%;
    }
    .footer-link {
      font-size: 16px;
    }
  }
  @media (max-width: 768px) {
    .container {
      max-width: 560px;
    }
    .card-info {
      flex-wrap: wrap;
    }
    .rating {
      flex-basis: 100%;
    }
    .card-title {
      font-size: 18px;
    }
    .promo {
      background-size: 400px;
      background-position: bottom 50px right -200px;
    }
    .promo-title {
      font-size: 24px;
      line-height: 1.4;
    }
    .promo-text {
      margin-top: 0;
    }
  }
  @media (max-width: 578px) {
    .container {
      width: 90%;
    }
    .header {
      flex-wrap: wrap;
    }
    .search-input {
      margin-top: 15px;
      order: 5;
      flex: 1;
    }
    .promo {
      background-image: none;
    }
    .promo-title {
      margin-bottom: 10px;
    }
    .section-title {
      font-size: 20px;
    }
    .card {
      flex-basis: 100%;
    }
    .card-image {
      width: 100%;
    }
    .footer {
      position: fixed;
      padding: 30px 0;
    }
    .footer-block {
      align-items: flex-end;
    }
    .footer-nav {
      margin-right: 0;
      margin-left: 0;
      order: 0;
      display: flex;
      flex-direction: column;
    }
    .footer-logo {
      margin-right: 15px;
      order: 1;
    }
    .social-links {
      order: 2;
    }
  }
  @media (max-width: 480px) {
    .section-heading {
      flex-wrap: wrap;
    }
    .button-text {
      display: none;
    }
    .button {
      min-height: 40px;
    }
    .promo {
      padding: 20px;
    }
    .footer-block {
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
    }
    .footer-logo {
      order: 0;
      margin-bottom: 20px;
    }
    .footer-nav {
      margin-bottom: 20px;
      text-align: center;
    }
    .footer-link:not(:last-child) {
      margin-right: 0;
    }
  }
  ::-webkit-scrollbar-button {
    background-image: url("");
    background-repeat: no-repeat;
    width: 5px;
    height: 0px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #ecedee;
  }
  
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: #6dc0c8;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #56999f;
  }
  
  ::-webkit-resizer {
    background-image: url("");
    background-repeat: no-repeat;
    width: 4px;
    height: 0px;
  }
  
  ::-webkit-scrollbar {
    width: 7px;
  }
  .hidden-menu {
    display: block;
    position: fixed;
    list-style: none;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    width: 200px;
    background-color: rgba(124, 117, 113, 0.9);
    height: 100%;
    top: 0;
    left: -200px;
    transition: left 0.2s;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .hidden-menu-ticker {
    display: none;
  }
  .btn-menu {
    color: #fff;
    background-color: rgb(255, 115, 0);
    padding: 5px;
    position: fixed;
    top: 5px;
    left: 5px;
    cursor: pointer;
    transition: left 0.23s;
    z-index: 3;
    width: 25px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .btn-menu span {
    display: block;
    height: 5px;
    background-color: #fff;
    margin: 5px 0 0;
    transition: all 0.1s linear 0.23s;
    position: relative;
  }
  .btn-menu span.first {
    margin-top: 0;
  }
  .hidden-menu-ticker:checked ~ .btn-menu {
    left: 160px;
  }
  .hidden-menu-ticker:checked ~ .hidden-menu {
    left: 0;
  }
  .hidden-menu-ticker:checked ~ .btn-menu span.first {
    -webkit-transform: rotate(45deg);
    top: 10px;
  }
  .hidden-menu-ticker:checked ~ .btn-menu span.second {
    opacity: 0;
  }
  .hidden-menu-ticker:checked ~ .btn-menu span.third {
    -webkit-transform: rotate(-45deg);
    top: -10px;
  }
  .menu-text {
    text-decoration: none;
    margin-bottom: 35px;
    margin-top: 45px;
    color: rgb(255, 115, 0);
    font-size: 25px;
    font-weight: normal;
    font-style: 18px;
    line-height: 32px;
    text-align: center;
  }
  .menu-text:hover {
  font-size: 30px;
  background-color: rgba(124, 117, 113, 0.6);
  
  
  }
  
.news-text {
    padding-top: 50px;
    font-size: 50px;
    font-style: normal;
}
.photo {
  height: 650px;
  width: 1200px;
  object-fit: cover;
  border-radius: 10px;
  
}
.img-text {
font-size: 25px;
font-style: normal;
}
.new-img {
  max-width: 1200px;
  margin: auto;
}
.news-heading {
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  color: white;
  text-align: center;
  background-image: url(../img/fort1.jfif);
}
.news-heading1 {
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  color: white;
  text-align: center;
  background-image: url(../img/apex1.jpg);
  
}
.news-heading2 {
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  color: white;
  text-align: center;
  background-image: url(../img/pank1.jpg);
  background-position: center;
  
}
.news-heading3 {
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  color: white;
  text-align: center;
  background-image: url(../img/alyx1.jpg);
  background-position: top;
  
}